<% if (theme.socialLink.gitlab) { %>
    <a href="<%= theme.socialLink.gitlab %>" class="tooltipped" target="_blank" data-tooltip="訪問我的Gitlab" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-gitlab"></em>
    </a>
<% } %>

<% if (theme.socialLink.github) { %>
    <a href="<%= theme.socialLink.github %>" class="tooltipped" target="_blank" data-tooltip="訪問我的GitHub" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-github"></em>
    </a>
<% } %>

<% if (theme.socialLink.email) { %>
    <a href="mailto:<%= theme.socialLink.email %>" class="tooltipped" target="_blank" data-tooltip="郵件聯繫我" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fas fa-envelope-open"></em>
    </a>
<% } %>

<% if (theme.socialLink.facebook) { %>
    <a href="<%= theme.socialLink.facebook %>" class="tooltipped" target="_blank" data-tooltip="關注我的Facebook: <%= theme.socialLink.facebook %>" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-facebook-f"></em>
    </a>
<% } %>

<% if (theme.socialLink.twitter) { %>
    <a href="<%= theme.socialLink.twitter %>" class="tooltipped" target="_blank" data-tooltip="關注我的Twitter: <%= theme.socialLink.twitter %>" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-twitter"></em>
    </a>
<% } %>

<% if (theme.socialLink.qq) { %>
    <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=<%= theme.socialLink.qq %>" class="tooltipped" target="_blank" data-tooltip="QQ聯繫我: <%= theme.socialLink.qq %>" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-qq"></em>
    </a>
<% } %>

<% if (theme.socialLink.weibo) { %>
    <a href="<%= theme.socialLink.weibo %>" class="tooltipped" target="_blank" data-tooltip="關注我的微博: <%= theme.socialLink.weibo %>" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-weibo"></em>
    </a>
<% } %>

<% if (theme.socialLink.zhihu) { %>
    <a href="<%= theme.socialLink.zhihu %>" class="tooltipped" target="_blank" data-tooltip="關注我的知乎: <%= theme.socialLink.zhihu %>" data-position="top" data-delay="50" rel="noreferrer noopener">
        <em class="fab fa-zhihu1">知</em>
    </a>
<% } %>

<% if (theme.socialLink.rss) { %>
    <a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS 訂閱" data-position="top" data-delay="50">
        <em class="fas fa-rss"></em>
    </a>
<% } %>